// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "compass";
.clearfix {
	@include clearfix();
}
.connections {
	margin-bottom:0px;
	list-style-type:none;
}
.connections > li:first-child {
	border-top:1px dashed #c0c0c0;
}
.connections > li:nth-child(odd) {
	border-left:1px dashed #c0c0c0;
	border-bottom:1px dashed #c0c0c0;
	padding-left:0.625em;
}
.connections > li:nth-child(even) {
	border-right:1px dashed #c0c0c0;
	border-bottom:1px dashed #c0c0c0;
	padding-left:0.625em;
}
.circlecrop {
// needs latest Compass, add '@import "compass"' to your scss
//@include filter-gradient(#eeeeee, #bfcccc, vertical); // IE6-9
//@include background-image(linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,0.75) 100%));
} 
.circlecrop > li  {
	padding-top:0.625em;
	padding-bottom:0.625em;
}
.circlecrop li {
	background-image:url('../img/sprite.png');
	background-repeat:no-repeat;
	background-position:70px -597px;
}
.circlecrop li:last-child {
	background:none;
}
.circle { 
 	border:2px dotted #59595b;
 	width:70px;
	height:70px;
 	border-radius:35px;
}
.circle > a {
	display:block;
	width:60px;
	height:60px;
 	border-radius:52px;
 	background-repeat:no-repeat;
 	background-size:100% 100%;
 	margin-top:3px;
 	margin-left:3px;
 	text-indent:-9000px;
}
form.main input,
form.main span,
form.main a {
	float:left;
	display:block;
	margin:0 0 1em 0;
	padding:0.5em;
	height:2.3125em;
	font-size:0.875em;
}
form.main input {
	width:9em;
}
form.main span, 
form.main a {
	border:1px solid #f2f2f2;
}

